@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.main {
    display: flex;
    justify-content: center;
    font-family: "Inter";
    font-weight: 400;
    font-size: 22px;
    color: #6134ab;
}

.conteiner {
    box-sizing: border-box;
    max-width: 360px;
    min-width: 360px;
    padding: 20px 30px;
    border: 2px solid #40a44a;
}

.order {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.order>label,
.order-information>label {
    margin-bottom: 5px;
}

.order>input,
.order>select,
.order>textarea,
.order-time {
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    min-width: 200px;
    border: 2px solid #40a44a;
}

.order-time>legend {
    text-align: center;
}

.order-time {
    text-align: start;
    height: 100px;
    transition: all 0.2s;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 0.3s;
}

.time>label {
    margin-block: 5px;
}

.time>input {
    min-width: 200px;
    max-width: 200px;
    text-align: center;
}

.at-time:checked~.time {
    opacity: 1;
    transition: all 0.3s;
}

.order-time:has(.at-time:checked) {
    height: 170px;
    transition: all 0.2s;
}

#comment {
    min-width: 300px;
    max-width: 300px;
    resize: none;
}

.button {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

.reset-button {
    background-color: #f4511e;
    min-width: 200px;
    max-width: 200px;
}

.ok-button {
    background-color: #40a44a;
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
}

.button-arrow {
    position: relative;
    left: 10px;
    transition: all 0.5s;
}

.ok {
    left: 5px;
}

.button-arrow::after {
    opacity: 0;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.5s;
}

.ok::after {
    content: '\2714';
}

.reset::after {
    content: '\2718';
}

@media (hover: hover) {
    .button:hover .button-arrow::after {
        transition: all 0.5s;
        opacity: 1;
    }

    .button:hover .button-arrow {
        left: 0;
        transition: all 0.5s;
    }
}